<!DOCTYPE html>
<html{{ html_attributes }}>
  <head>
    <head-placeholder token="{{ placeholder_token|raw }}">
    <title>{{ head_title|safe_join(' | ') }}</title>
    <css-placeholder token="{{ placeholder_token|raw }}">
    <js-placeholder token="{{ placeholder_token|raw }}">
    <script data-ad-client="ca-pub-8113497797218045" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>

    <!-- Google Analytics and Tag -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-BHYMTJZHPK"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'G-BHYMTJZHPK');
    </script>

    <script async src="https://www.googletagservices.com/tag/js/gpt.js"></script>
    <script>
      window.googletag = window.googletag || {};
      googletag.cmd = googletag.cmd || [];

      const adSlots = [];
      function defineAllSlots() {
        const isMobile = window.innerWidth <= 728;
        const pushSlot = (slotName, size, id) => {
          const slot = googletag.defineSlot(`/21756450370/${slotName}`, size, id).addService(googletag.pubads());
          adSlots.push({ id, slot });
        };

        const mobileSlots = [
          ['LB_Mobile_WNBALI', [320, 50], 'div-gpt-ad-1539964050145-0'],
          ['LB_Mobile_WNBDG', [320, 50], 'div-gpt-ad-1539974160397-0'],
          ['LB_Mobile_WNI', [320, 50], 'div-gpt-ad-1539974271464-0'],
          ['LB_Mobile_WNJ', [320, 50], 'div-gpt-ad-1539974380913-0'],
          ['MLB_Mobile_WNBALI', [320, 50], 'div-gpt-ad-1540092521116-0'],
          ['MLB_Mobile_WNBDG', [320, 50], 'div-gpt-ad-1540092592048-0'],
          ['MLB_Mobile_WNI', [320, 50], 'div-gpt-ad-1540092633351-0'],
          ['MLB_Mobile_WNJ', [320, 50], 'div-gpt-ad-1540092774276-0']
        ];

        const desktopSlots = [
          ['LB_desktop_WNI', [[728, 90], [1110, 150]], 'div-gpt-ad-9434394-1'],
          ['LB_desktop_WNJ', [[728, 90], [1110, 150]], 'div-gpt-ad-9434394-2'],
          ['LB_desktop_WNBALI', [[728, 90], [1110, 150]], 'div-gpt-ad-9434394-3'],
          ['LB_desktop_WNBDG', [[728, 90], [1110, 150]], 'div-gpt-ad-9434394-4'],
          ['LB_Desktop_Surabaya', [[728, 90], [1110, 150]], 'div-gpt-ad-9434394-5'],
          ['LB_Desktop_WNY', [[728, 90], [1110, 150]], 'div-gpt-ad-9434394-6'],
          ['lb2_bali', [[1110, 150]], 'div-gpt-ad-4243196-1'],
          ['lb2_bandung', [[1110, 150]], 'div-gpt-ad-4243196-2'],
          ['LB2_Jakarta', [[1110, 150]], 'div-gpt-ad-4243196-3'],
          ['lb2_other', [[1110, 150]], 'div-gpt-ad-4243196-4'],
          ['lb2_overseas', [[1110, 150]], 'div-gpt-ad-4243196-5'],
          ['lb2_surabaya', [[1110, 150]], 'div-gpt-ad-4243196-6'],
          ['lb2_yogyakarta', [[1110, 150]], 'div-gpt-ad-4243196-7'],
          ['lb3_bali', [[1110, 150]], 'div-gpt-ad-4243196-8'],
          ['lb3_bandung', [[1110, 150]], 'div-gpt-ad-4243196-9'],
          ['lb3_jakarta', [[1110, 150]], 'div-gpt-ad-4243196-10'],
          ['lb3_other', [[1110, 150]], 'div-gpt-ad-4243196-11'],
          ['lb3_overseas', [[1110, 150]], 'div-gpt-ad-4243196-12'],
          ['lb3_surabaya', [[1110, 150]], 'div-gpt-ad-4243196-13'],
          ['lb3_yogyakarta', [[1110, 150]], 'div-gpt-ad-4243196-14'],
          ['lb_other', [[1110, 150]], 'div-gpt-ad-4243196-15'],
          ['lb_overseas', [[1110, 150]], 'div-gpt-ad-4243196-18']
        ];

        const sharedSlots = [
          ['HP_WNBALI', [300, 600], 'div-gpt-ad-1539936860041-0'],
          ['HP_WNBDG', [300, 600], 'div-gpt-ad-1539936956527-0'],
          ['HP_WNI', [300, 600], 'div-gpt-ad-1539937024824-0'],
          ['HP_WNJ', [300, 600], 'div-gpt-ad-1539937124704-0'],
          ['HP_SURABAYA', [300, 600], 'div-gpt-ad-1733017524414-0'],
          ['MR_WNBALI', [300, 250], 'div-gpt-ad-1731050234281-0'],
          ['MR_WNBDG', [300, 250], 'div-gpt-ad-1540092958162-0'],
          ['MR_WNI', [300, 250], 'div-gpt-ad-1540093087721-0'],
          ['MR_WNJ', [300, 250], 'div-gpt-ad-1540093140914-0'],
          ['MR_Surabaya', [300, 250], 'div-gpt-ad-1733017611959-0'],
          ['hp_other', [300, 600], 'div-gpt-ad-4243196-16'],
          ['mr_other', [300, 250], 'div-gpt-ad-4243196-17'],
          ['hp_overseas', [300, 600], 'div-gpt-ad-4243196-19'],
          ['mr_overseas', [300, 250], 'div-gpt-ad-4243196-20']
        ];

        (isMobile ? mobileSlots : desktopSlots).forEach(slot => pushSlot(...slot));
        sharedSlots.forEach(slot => pushSlot(...slot));

        googletag.pubads().enableSingleRequest();
        googletag.enableServices();
      }

      googletag.cmd.push(() => defineAllSlots());

      const lazyLoadAds = () => {
        const observer = new IntersectionObserver(entries => {
          entries.forEach(entry => {
            if (entry.isIntersecting) {
              googletag.cmd.push(() => googletag.display(entry.target.id));
              observer.unobserve(entry.target);
            }
          });
        });

        adSlots.forEach(({ id }) => {
          const adEl = document.getElementById(id);
          if (adEl) observer.observe(adEl);
        });
      };

      window.addEventListener('load', lazyLoadAds);
    </script>

   
  </head>
  {% set body_classes = [
    logged_in ? 'logged-in',
    not root_path ? 'frontpage' : 'path-' ~ root_path|clean_class,
    node_type ? 'node--type-' ~ node_type|clean_class,
    node_id ? 'node-' ~ node_id|clean_class
  ] %}
  <body{{ attributes.addClass(body_classes) }}>
    {{ page_top }}
    {{ page }}
    {{ page_bottom }}
    <js-bottom-placeholder token="{{ placeholder_token|raw }}">
      {% if addon_template %}
        <div class="permission-save-{{ save_customize_permission }}">
          {% include addon_template %}
        </div>
      {% endif %}
  </body>
</html>
