<!DOCTYPE html>
<html{{ html_attributes }}>
  <head>
    <head-placeholder token="{{ placeholder_token|raw }}">

      <title>{{ head_title|safe_join(' | ') }}</title>

      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/js-cookie@rc/dist/js.cookie.min.js"></script>

      <css-placeholder token="{{ placeholder_token|raw }}">
        <js-placeholder token="{{ placeholder_token|raw }}">

          <!-- <script type="text/javascript" data-cmp-ab="1" src="https://cdn.consentmanager.net/delivery/autoblocking/cfdaf40f0103d.js" data-cmp-host="c.delivery.consentmanager.net" data-cmp-cdn="cdn.consentmanager.net" data-cmp-codesrc="16"></script> -->

          <script data-ad-client="ca-pub-8113497797218045" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>

          <!-- Google tag (gtag.js) Conversion tracking-->
          <script async src="https://www.googletagmanager.com/gtag/js?id=AW-923451859"></script>

          <!-- Global site tag (gtag.js) - Google Analytics -->
          <!--
          <script async src="https://www.googletagmanager.com/gtag/js?id=UA-127337601-1"></script>

          <script>

            window.dataLayer = window.dataLayer || [];

            function gtag(){dataLayer.push(arguments);}

            gtag('js', new Date());
            gtag('config', 'UA-127337601-1');
             gtag('config', 'AW-923451859');

          </script>
          -->

          <script async='async' src='https://www.googletagservices.com/tag/js/gpt.js'></script>

          <script>

            var googletag = googletag || {};
            googletag.cmd = googletag.cmd || [];

          </script>

          <!-- Global site tag (gtag.js) - Google Analytics 4 -->

          <script async src="https://www.googletagmanager.com/gtag/js?id=G-BHYMTJZHPK"></script>

          <script>

            window.dataLayer = window.dataLayer || [];

            function gtag(){dataLayer.push(arguments);}

            gtag('js', new Date());
            gtag('config', 'G-BHYMTJZHPK');

          </script>


          <script src="https://whatsnewindonesia.com/core/assets/vendor/jquery/jquery.min.js?v=3.6.0"></script>

          <script async type="text/javascript">
            var windowWidth = $(window).width();

            googletag.cmd.push(function() {

              if(windowWidth <= 728 ){

                googletag.defineSlot('/21756450370/LB_Mobile_WNBALI', [320, 50], 'div-gpt-ad-1539964050145-0').addService(googletag.pubads());

                googletag.defineSlot('/21756450370/LB_Mobile_WNBDG', [320, 50], 'div-gpt-ad-1539974160397-0').addService(googletag.pubads());

                googletag.defineSlot('/21756450370/LB_Mobile_WNI', [320, 50], 'div-gpt-ad-1539974271464-0').addService(googletag.pubads());

                googletag.defineSlot('/21756450370/LB_Mobile_WNJ', [320, 50], 'div-gpt-ad-1539974380913-0').addService(googletag.pubads());

                googletag.defineSlot('/21756450370/MLB_Mobile_WNBALI', [320, 50], 'div-gpt-ad-1540092521116-0').addService(googletag.pubads());

                googletag.defineSlot('/21756450370/MLB_Mobile_WNBDG', [320, 50], 'div-gpt-ad-1540092592048-0').addService(googletag.pubads());

                googletag.defineSlot('/21756450370/MLB_Mobile_WNI', [320, 50], 'div-gpt-ad-1540092633351-0').addService(googletag.pubads());

                googletag.defineSlot('/21756450370/MLB_Mobile_WNJ', [320, 50], 'div-gpt-ad-1540092774276-0').addService(googletag.pubads());

              } else {

                googletag.defineSlot('/21756450370/LB_desktop_WNI', [[728,90],[1110,150]], 'div-gpt-ad-9434394-1').addService(googletag.pubads());
                googletag.defineSlot('/21756450370/LB_desktop_WNJ', [[728,90],[1110,150]], 'div-gpt-ad-9434394-2').addService(googletag.pubads());
                googletag.defineSlot('/21756450370/LB_desktop_WNBALI', [[728,90],[1110,150]], 'div-gpt-ad-9434394-3').addService(googletag.pubads());
                googletag.defineSlot('/21756450370/LB_desktop_WNBDG', [[728,90],[1110,150]], 'div-gpt-ad-9434394-4').addService(googletag.pubads());
                googletag.defineSlot('/21756450370/LB_Desktop_Surabaya', [[728,90],[1110,150]], 'div-gpt-ad-9434394-5').addService(googletag.pubads());
                googletag.defineSlot('/21756450370/LB_Desktop_WNY', [[728,90],[1110,150]], 'div-gpt-ad-9434394-6').addService(googletag.pubads());

                // googletag.defineSlot('/21756450370/MLB_desktop_WNJ', [728, 90], 'div-gpt-ad-1539974720153-0').addService(googletag.pubads());

                googletag.defineSlot('/21756450370/lb2_bali', [[1110,150]], 'div-gpt-ad-4243196-1').addService(googletag.pubads());
                googletag.defineSlot('/21756450370/lb2_bandung', [[1110,150]], 'div-gpt-ad-4243196-2').addService(googletag.pubads());
                googletag.defineSlot('/21756450370/LB2_Jakarta', [[1110,150]], 'div-gpt-ad-4243196-3').addService(googletag.pubads());
                googletag.defineSlot('/21756450370/lb2_other', [[1110,150]], 'div-gpt-ad-4243196-4').addService(googletag.pubads());
                googletag.defineSlot('/21756450370/lb2_overseas', [[1110,150]], 'div-gpt-ad-4243196-5').addService(googletag.pubads());
                googletag.defineSlot('/21756450370/lb2_surabaya', [[1110,150]], 'div-gpt-ad-4243196-6').addService(googletag.pubads());
                googletag.defineSlot('/21756450370/lb2_yogyakarta', [[1110,150]], 'div-gpt-ad-4243196-7').addService(googletag.pubads());
                googletag.defineSlot('/21756450370/lb3_bali', [[1110,150]], 'div-gpt-ad-4243196-8').addService(googletag.pubads());
                googletag.defineSlot('/21756450370/lb3_bandung', [[1110,150]], 'div-gpt-ad-4243196-9').addService(googletag.pubads());
                googletag.defineSlot('/21756450370/lb3_jakarta', [[1110,150]], 'div-gpt-ad-4243196-10').addService(googletag.pubads());
                googletag.defineSlot('/21756450370/lb3_other', [[1110,150]], 'div-gpt-ad-4243196-11').addService(googletag.pubads());
                googletag.defineSlot('/21756450370/lb3_overseas', [[1110,150]], 'div-gpt-ad-4243196-12').addService(googletag.pubads());
                googletag.defineSlot('/21756450370/lb3_surabaya', [[1110,150]], 'div-gpt-ad-4243196-13').addService(googletag.pubads());
                googletag.defineSlot('/21756450370/lb3_yogyakarta', [[1110,150]], 'div-gpt-ad-4243196-14').addService(googletag.pubads());
                googletag.defineSlot('/21756450370/lb_other', [[1110,150]], 'div-gpt-ad-4243196-15').addService(googletag.pubads());
                googletag.defineSlot('/21756450370/lb_overseas', [[1110,150]], 'div-gpt-ad-4243196-18').addService(googletag.pubads());

              }

              googletag.defineSlot('/21756450370/HP_WNBALI', [300, 600], 'div-gpt-ad-1539936860041-0').addService(googletag.pubads());
              googletag.defineSlot('/21756450370/HP_WNBDG', [300, 600], 'div-gpt-ad-1539936956527-0').addService(googletag.pubads());
              googletag.defineSlot('/21756450370/HP_WNI', [300, 600], 'div-gpt-ad-1539937024824-0').addService(googletag.pubads());
              googletag.defineSlot('/21756450370/HP_WNJ', [300, 600], 'div-gpt-ad-1539937124704-0').addService(googletag.pubads());
              googletag.defineSlot('/21756450370/HP_SURABAYA', [300, 600], 'div-gpt-ad-1733017524414-0').addService(googletag.pubads());

              googletag.defineSlot('/21756450370/MR_WNBALI', [300, 250], 'div-gpt-ad-1731050234281-0').addService(googletag.pubads());
              googletag.defineSlot('/21756450370/MR_WNBDG', [300, 250], 'div-gpt-ad-1540092958162-0').addService(googletag.pubads());
              googletag.defineSlot('/21756450370/MR_WNI', [300, 250], 'div-gpt-ad-1540093087721-0').addService(googletag.pubads());
              googletag.defineSlot('/21756450370/MR_WNJ', [300, 250], 'div-gpt-ad-1540093140914-0').addService(googletag.pubads());
              googletag.defineSlot('/21756450370/MR_Surabaya', [300, 250], 'div-gpt-ad-1733017611959-0').addService(googletag.pubads());

              googletag.defineSlot('/21756450370/hp_other', [[300,600]], 'div-gpt-ad-4243196-16').addService(googletag.pubads());
              googletag.defineSlot('/21756450370/mr_other', [[300,250]], 'div-gpt-ad-4243196-17').addService(googletag.pubads());
              googletag.defineSlot('/21756450370/hp_overseas', [[300,600]], 'div-gpt-ad-4243196-19').addService(googletag.pubads());
              googletag.defineSlot('/21756450370/mr_overseas', [[300,250]], 'div-gpt-ad-4243196-20').addService(googletag.pubads());

              googletag.pubads().enableSingleRequest();
              googletag.enableServices();

            });

          </script>

    <!-- Google Fonts & Custom Styles -->
    {{ links_google_fonts|raw }}
    {% if customize_css %}
      <style>{{ customize_css|raw }}</style>
    {% endif %}

    <!-- Dialogflow Messenger -->
    <link rel="stylesheet" href="https://www.gstatic.com/dialogflow-console/fast/df-messenger/prod/v1/themes/df-messenger-default.css">
    <script src="https://www.gstatic.com/dialogflow-console/fast/df-messenger/prod/v1/df-messenger.js"></script>
    <df-messenger
      project-id="i-mariner-204309" agent-id="d9059192-1f34-46db-b1c8-b1a28162efb9" language-code="en" max-query-length="-1">
      <df-messenger-chat-bubble chat-title="Ask WhatsNewIndonesia" chat-icon="/{{ directory }}/img/ico-ai-assistant.svg"></df-messenger-chat-bubble>
    </df-messenger>
    <style>
      df-messenger {
        z-index: 999;
        position: fixed;
        bottom: 100px;
        right: 25px;

        --df-messenger-chat-bubble-border: 2px solid red;
        --df-messenger-chat-bubble-icon-size: 100%;
        --df-messenger-chat-bubble-size: 75px;
        --df-messenger-chat-bubble-bottom: 30px;
        --df-messenger-font-color: #000;
        --df-messenger-font-family: Google Sans;
        --df-messenger-chat-bubble-background: #fff;
        --df-messenger-chat-background: #f3f6fc;
        --df-messenger-message-user-background: #d3e3fd;
        --df-messenger-message-bot-background: #fff;
      }

      @media (max-width: 576px) {
        df-messenger {
          bottom: 3px;
        }
      }
    </style>
  </head>
  {% set body_classes = [
    logged_in ? 'logged-in',
    not root_path ? 'frontpage' : 'path-' ~ root_path|clean_class,
    node_type ? 'node--type-' ~ node_type|clean_class,
    node_id ? 'node-' ~ node_id|clean_class
  ] %}
  <body{{ attributes.addClass(body_classes) }}>
    {{ page_top }}
    {{ page }}
    {{ page_bottom }}
    <js-bottom-placeholder token="{{ placeholder_token|raw }}">
      {% if addon_template %}
        <div class="permission-save-{{ save_customize_permission }}">
          {% include addon_template %}
        </div>
      {% endif %}
  </body>
</html>
