<section class="section section-grid section-deals">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="section-grid__grid">
          {% for row in view.result %}
            {% set node = row._entity %}
            <div class="element-item">
              <div class="section-grid__card">
                <div class="section-grid__card-img">
                  {% if node.field_image.entity %}
                    <img class="img-fluid" src="{{ file_url(node.field_image.entity.uri.value) }}" alt="{{ node.field_image.alt }}" />
                  {% endif %}
                </div>
                <div class="section-grid__card-text">
                  <h5>{{ node.field_post_category.entity.name.value }}</h5>
                  <h4>
                    <a href="{{ path('entity.node.canonical', {'node': node.id}) }}">
                      {{ node.title.value }}
                    </a>
                  </h4>
                </div>
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
  {{ pager }}
</section>
