{# What’s New This Week Home #}
<section class="section section-new-this-week pt-0">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="swiper section-new-this-week__swiper">
          <div class="swiper-wrapper">
            {% for row in view.result %}
              {% set node = row._entity %}
              <div class="swiper-slide">
                <a href="{{ path('entity.node.canonical', {'node': node.id}) }}" class="section-new-this-week__card">
                  <div class="section-new-this-week__card-img">
                    {% if node.field_card_image.entity.uri %}
                      <img class="img-fluid" src="{{ file_url(node.field_card_image.entity.uri.value) }}" alt="{{ node.field_card_image.alt }}" />
                    {% elseif node.field_hero_image.entity.uri %}
                      <img class="img-fluid" src="{{ file_url(node.field_hero_image.entity.uri.value) }}" alt="{{ node.field_hero_image.alt }}" />
                    {% elseif node.field_image.entity.uri %}
                      <img class="img-fluid" src="{{ file_url(node.field_image.entity.uri.value) }}" alt="{{ node.field_image.alt }}" />
                    {% endif %}
                  </div>
                  <div class="section-new-this-week__card-text">
                    <h3>
                      {{ node.title.value }}
                    </h3>
                    <p>
                      {% if node.field_city.entity %}
                        {{ node.field_city.entity.name.value }}
                      {% else %}
                        {{ "City Not Available"|t }}
                      {% endif %}
                    </p>
                  </div>
                </a>
              </div>
            {% endfor %}
          </div>
          <div class="swiper-pagination"></div>
        </div>
      </div>
    </div>
  </div>
</section>
