<section class="section section-interesting-zones pt-0">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="swiper section-interesting-zones__swiper">
          <div class="swiper-wrapper">
            {% for row in view.result %}
              {% set node = row._entity %}
              <div class="swiper-slide">
                <a href="{{ path('entity.node.canonical', {'node': node.id}) }}">
                  <div class="section-interesting-zones__card">
                    <div class="section-interesting-zones__card-img">
                      {% if node.field_image.entity %}
                        <img class="img-fluid" src="{{ file_url(node.field_image.entity.uri.value) }}" alt="{{ node.field_image.alt }}" />
                      {% else %}
                        <img class="img-fluid" src="/path/to/placeholder.jpg" alt="Placeholder" />
                      {% endif %}
                    </div>
                    <div class="section-interesting-zones__card-text">
                      <h5>{{ node.title.value }}</h5>
                      <p>{{ node.body.value|striptags|truncate(100) }}</p>
                    </div>
                  </div>
                </a>
              </div>
            {% endfor %}
          </div>
          <div class="swiper-pagination"></div>
        </div>
      </div>
    </div>
  </div>
</section>
