{% set h1_title_parts = view.storage.get('display')[view.current_display].display_title|split(' ', 3) %}
<div class="hero__wrapper">
  <div class="swiper-container">
    <div class="swiper-wrapper">
      {% for row in rows %}
        {% if row['#rows'] %}
          {% for rowin in row['#rows'] %}
            {% set node = rowin['#node'] %}
            {% set title_parts = node.title.value|split(' ', 2) %}

            <div class="swiper-slide" data-title="{{ node.title.value }}">
              <div class="section-hero">
                <div class="section-hero__background">
                  <img src="{{ node.field_image.entity ? file_url(node.field_image.entity.uri.value) : '/path/to/placeholder.jpg' }}"
                       alt="{{ node.title.value }}" />
                </div>
                <div class="container">
                  <div class="row" data-swiper-parallax="-1000">
                    <div class="col-12">
                      <div class="section-hero__title">
                        <h1>{{ h1_title_parts[0] ~ ' ' ~ h1_title_parts[1] }} <span>{{ h1_title_parts[2] }}</span></h1>
                      </div>
                    </div>
                  </div>
                  <div class="row" data-swiper-parallax="-500">
                    <div class="col-lg-6">
                      <h2>
                        {{ title_parts[0] }} <span>{{ title_parts[1] }}</span>
                      </h2>
                      <a href="{{ path('entity.node.canonical', {'node': node.id}) }}" class="btn">
                        <span>Read More</span>
                      </a>
                    </div>
                    <div class="col-lg-6"></div>
                  </div>
                </div>
              </div>
            </div>
          {% endfor %}
        {% endif %}
      {% endfor %}
    </div>
    <div class="container container-pagination">
      <div class="swiper-pagination"></div>
    </div>
  </div>
</div>
