<section class="section section-tourist-guides">
  <div class="container">
{#    <div class="row">#}
{#      <div class="section-title">#}
{#        <h2>Begin Your Trip To <span>Indonesia</span> - Ultimate Tourist Guides</h2>#}
{#        <div class="section-text">#}
{#          <p>#}
{#            <strong>Plan your perfect trip with our guides!</strong>#}
{#            Discover top destinations, must-see attractions, and helpful tips for an unforgettable experience in Indonesia.#}
{#          </p>#}
{#        </div>#}
{#      </div>#}
{#    </div>#}

    <div class="row">
      <div class="col-12 col-lg-6">
        <div class="section-tourist-guides__card">
          <div class="section-tourist-guides__card-icon">
            <img src="{{ directory }}/img/globe-central-south-asia 1.svg" alt="" />
          </div>

          <div class="section-tourist-guides__card-text">
            <p>
              Popular <br />
              Destination Guides
            </p>
          </div>
        </div>

        <div class="section-tourist-guides__card">
          <div class="section-tourist-guides__card-icon">
            <img src="{{ directory }}/img/passport 1.svg" alt="" />
          </div>

          <div class="section-tourist-guides__card-text">
            <p>
              Visa and <br />
              Entry Requirements
            </p>
          </div>
        </div>

        <div class="section-tourist-guides__card">
          <div class="section-tourist-guides__card-icon">
            <img src="{{ directory }}/img/coins-hand.svg" alt="" />
          </div>

          <div class="section-tourist-guides__card-text">
            <p>Culture and Cuisine</p>
          </div>
        </div>

        <div class="section-tourist-guides__card">
          <div class="section-tourist-guides__card-icon">
            <img src="{{ directory }}/img/lightbulb 1.svg" alt="" />
          </div>

          <div class="section-tourist-guides__card-text">
            <p>
              Travel Tips and <br />
              Practical Information
            </p>
          </div>
        </div>
      </div>

      <div class="col-12 col-lg-6 d-flex align-items-center justify-content-center position-relative mt-4 mt-lg-0">
        <div class="section-tourist-guides__img">
          <img class="section-tourist-guides__img-1" src="{{ directory }}/img/map-1.svg" alt="" />
          <img class="section-tourist-guides__img-2" src="{{ directory }}/img/map-2.svg" alt="" />
          <img class="section-tourist-guides__img-3" src="{{ directory }}/img/map-3.svg" alt="" />
          <img class="section-tourist-guides__img-4" src="{{ directory }}/img/map-4.svg" alt="" />
          <img class="section-tourist-guides__img-5" src="{{ directory }}/img/map-5.svg" alt="" />
          <img class="section-tourist-guides__img-6" src="{{ directory }}/img/map-6.svg" alt="" />
          <img class="section-tourist-guides__img-7" src="{{ directory }}/img/map-7.svg" alt="" />
          <img class="section-tourist-guides__img-all" src="{{ directory }}/img/map-all.svg" alt="" />

          <span class="section-tourist-guides__map-pin-1">
                                    <img src="{{ directory }}/img/map-pin.svg" alt="" />
                                </span>
          <span class="section-tourist-guides__map-pin-2">
                                    <img src="{{ directory }}/img/map-pin.svg" alt="" />
                                </span>
          <span class="section-tourist-guides__map-pin-3">
                                    <img src="{{ directory }}/img/map-pin.svg" alt="" />
                                </span>
          <span class="section-tourist-guides__map-pin-4">
                                    <img src="{{ directory }}/img/map-pin.svg" alt="" />
                                </span>
          <span class="section-tourist-guides__map-pin-5">
                                    <img src="{{ directory }}/img/map-pin.svg" alt="" />
                                </span>
          <span class="section-tourist-guides__map-pin-6">
                                    <img src="{{ directory }}/img/map-pin.svg" alt="" />
                                </span>
          <span class="section-tourist-guides__map-pin-7">
                                    <img src="{{ directory }}/img/map-pin.svg" alt="" />
                                </span>
        </div>

        <div class="section-tourist-guides__popup section-tourist-guides__popup-1 d-none d-lg-flex">
          <div class="section-tourist-guides__popup-img">
            <img src="{{ directory }}/img/Rectangle 4551-2.png" alt="" />
          </div>
          <div class="section-tourist-guides__popup-text">
            <h5>Title 1</h5>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor. Lorem ipsum dolor sit amet,</p>
            <a href="#">Load more</a>
          </div>
        </div>

        <div class="section-tourist-guides__popup section-tourist-guides__popup-2 d-none d-lg-flex">
          <div class="section-tourist-guides__popup-img">
            <img src="{{ directory }}/img/Rectangle 4551-2.png" alt="" />
          </div>
          <div class="section-tourist-guides__popup-text">
            <h5>Title 2</h5>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor. Lorem ipsum dolor sit amet,</p>
            <a href="#">Load more</a>
          </div>
        </div>

        <div class="section-tourist-guides__popup section-tourist-guides__popup-3 d-none d-lg-flex">
          <div class="section-tourist-guides__popup-img">
            <img src="{{ directory }}/img/Rectangle 4551-2.png" alt="" />
          </div>
          <div class="section-tourist-guides__popup-text">
            <h5>Title 3</h5>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor. Lorem ipsum dolor sit amet,</p>
            <a href="#">Load more</a>
          </div>
        </div>

        <div class="section-tourist-guides__popup section-tourist-guides__popup-4 d-none d-lg-flex">
          <div class="section-tourist-guides__popup-img">
            <img src="{{ directory }}/img/Rectangle 4551-2.png" alt="" />
          </div>
          <div class="section-tourist-guides__popup-text">
            <h5>Title 4</h5>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor. Lorem ipsum dolor sit amet,</p>
            <a href="#">Load more</a>
          </div>
        </div>

        <div class="section-tourist-guides__popup section-tourist-guides__popup-5 d-none d-lg-flex">
          <div class="section-tourist-guides__popup-img">
            <img src="{{ directory }}/img/Rectangle 4551-2.png" alt="" />
          </div>
          <div class="section-tourist-guides__popup-text">
            <h5>Title 5</h5>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor. Lorem ipsum dolor sit amet,</p>
            <a href="#">Load more</a>
          </div>
        </div>

        <div class="section-tourist-guides__popup section-tourist-guides__popup-6 d-none d-lg-flex">
          <div class="section-tourist-guides__popup-img">
            <img src="{{ directory }}/img/Rectangle 4551-2.png" alt="" />
          </div>
          <div class="section-tourist-guides__popup-text">
            <h5>Title 6</h5>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor. Lorem ipsum dolor sit amet,</p>
            <a href="#">Load more</a>
          </div>
        </div>

        <div class="section-tourist-guides__popup section-tourist-guides__popup-7 d-none d-lg-flex">
          <div class="section-tourist-guides__popup-img">
            <img src="{{ directory }}/img/Rectangle 4551-2.png" alt="" />
          </div>
          <div class="section-tourist-guides__popup-text">
            <h5>Title 7</h5>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor. Lorem ipsum dolor sit amet,</p>
            <a href="#">Load more</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
