<section class="section section-interesting-zones pt-0">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="swiper section-interesting-zones__swiper">
          <div class="swiper-wrapper">
            {% for row in view.result %}
              {% set node = row._entity %}
              <div class="swiper-slide">
                <a href="{{ path('entity.node.canonical', {'node': node.id}) }}" class="section-interesting-zones__card">
                  <div class="section-interesting-zones__card-img">
                    {% if node.field_card_image.entity.uri %}
                      <img loading="lazy" class="img-fluid" src="{{ file_url(node.field_card_image.entity.uri.value) }}" alt="{{ node.field_card_image.alt }}" title="{{ node.field_card_image.alt }}"/>
                    {% elseif node.field_hero_image.entity.uri %}
                      <img loading="lazy" class="img-fluid" src="{{ file_url(node.field_hero_image.entity.uri.value) }}" alt="{{ node.field_hero_image.alt }}" title="{{ node.field_hero_image.alt }}"/>
                    {% elseif node.field_image.entity.uri %}
                      <img loading="lazy" class="img-fluid" src="{{ file_url(node.field_image.entity.uri.value) }}" alt="{{ node.field_image.alt }}" title="{{ node.field_image.alt }}"/>
                    {% endif %}
                  </div>
                  <div class="section-interesting-zones__card-text">
                    <h3>{{ node.title.value }}</h3>
                    {% if node.field_description.value is defined and node.field_description.value is not empty%}
                      {{ node.field_description.value|striptags|truncate(100, true, '...') }}
                    {% elseif node.body.summary %}
                      {{ node.body.summary|striptags|truncate(100, true, '...') }}
                    {% elseif node.body.value %}
                      {{ node.body.value|striptags|truncate(100, true, '...') }}
                    {% endif %}
                  </div>
                </a>
              </div>
            {% endfor %}
          </div>
          <div class="swiper-pagination"></div>
        </div>
      </div>
    </div>
  </div>
</section>
