{% set heading_id = attributes.id ~ '-menu'|clean_id %}
{% if not configuration.label_display %}
  {% set title_attributes = title_attributes.addClass('visually-hidden block-title') %}
{% endif %}
{{ title_prefix }}
<h3 {{ title_attributes.setAttribute('id', heading_id) }}>{{ configuration.label }}</h3>
{{ title_suffix }}
{{ content }}
